:root {
  --ecomm-primary-color: rgba(97, 54, 54, 0.9);
  --secondary-color: rgb(255, 255, 255);
  --head-text-color: rgb(225, 229, 230);
  --light-grey-color: rgb(238, 235, 235);
  --yellow-color: rgba(243, 243, 13, 0.692);
  --red-color: red;
  --black-color: black;
}

html {
  font-size: 62.5%;
}

.header {
  background-color: var(--ecomm-primary-color);
  height: 4.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: cursive;
}

.header .logo .logo-text{
  color: var(--secondary-color);
  text-decoration: none;
}

.search-container {
  border: 1px solid var(--light-grey-color);
  border-radius: 10px;
}

.header .search-container #search {
  color: black;
}

.action-icon .btn {
  background-color: var(--secondary-color);
  box-shadow: none;
  padding: 0.5rem;
  position: relative;
}

.action-icon .btn a {
  text-align: center;
  margin: 0;
  color: var(--black-color);
}

.dropdown li {
  list-style: none;
}
.link-btn{
  background: none;
  border: none;
  font-size: 1.8rem;
}
.dropdown-menu {
  display: none;
  width: 20rem;
  position: absolute;
  padding: 1rem;
  left: -7rem;
  bottom: -16.5rem;
  font-size: 1.5rem;
  background-color: var(--secondary-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1000;
}

.dropdown-menu .signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .action-icon .icon {
  cursor: pointer;
}

.header .action-icon .icon i {
  color: var(--secondary-color);
}

.header .action-icon .icon span {
  color: var(--secondary-color);
  background-color: var(--red-color);
}

@media screen and (max-width: 630px) {
  html {
    font-size: 50%;
  }

  .logo {
    display: none;
  }

  .search-container {
    width: 45%;
  }

  .main-container {
    margin: 2rem;
  }
}
