.footer-container {
  width: 100%;
  height: 6rem;
  background-color: var(--ecomm-primary-color);
  color: var(--secondary-color);
  margin-top: 38rem;
}

.copywrite-disclaimer {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
}
