.container .product-listing {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  margin-top: 4rem;
  width: 100%;
}

.container .product-listing .grid-container .cart {
  width: 26rem;
  margin: auto;
  transition: all 0.3s ease;
  background-color: var(--secondary-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 0;
}

.grid-container .cart .img-container .product-action-icon li {
  background: none;
  margin: 0;
  cursor: pointer;
}

.grid-container .cart .img-container .product-action-icon li i {
  font-size: 2rem;
}

.grid-container .cart .add-to-cart {
  background-color: var(--ecomm-primary-color);
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bolder;
  border-radius: 0;

}

.grid-container .cart:hover {
  transform: scale(1.04);
}

.product-name h3 {
  text-align: start;
}

.product-name p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--ecomm-primary-color);
  margin-bottom: 1rem;
  text-align: start;
}

.product-rating {
  text-align: center;
  height: 2.7rem;
  width: 5rem;
  background-color: var(--yellow-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-content .product-price .product-rating .p-rating{
  font-size: 1.5rem;
  text-align: center;
  color: var(--black-color);
  margin-top: 0;
}

.no-data-error{
  text-align: center;
  font-size: 2rem;
  width: 100%;
  margin: auto;
}
