.filter {
  padding: 2rem;
  width: 25rem;
}

.filter .filter-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter .filter-heading .filter-name{
  font-size: 2rem;
  margin-top: 0;
}
.filter .filter-heading .clear-btn{
  border: none;
  background: none;
  font-size: 1.7rem;
  color: var(--ecomm-primary-color);
  text-decoration: underline;

cursor: pointer;
}
.filter .filter-heading .clear-btn:hover{
  color: var( --red-color);

}

.filter-heading,
.price-range,
.product-category,
.rating,
.price-sort {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  text-align: start;
}

.product-category .preference,
.rating .preference,
.price-sort .preference {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.price-range .price-range-ipt {
  display: flex;
  flex-direction: column;
}
.category-checkbox,
.rating-radio,
.pricehl {
  margin-right: 1rem;
}

@media screen and (max-width: 750px) {
  .filter {
    display: none;
  }
}
